
body, html{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(fondo\ de\ color.jpg) center center;
    background-size: cover;
}

.contenedor{
    text-align: center;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
}

.logo-principal{
    position: absolute;
    top: 1px;
    right: 650px;
    width: 300px;
    height: 350px;
}
